body {
    font-family: Arial, sans-serif;
    background-image: url('fundo3.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 20px;
    color: rgb(0, 0, 0); 
}

h1 {
    text-align: center;
    color: white; 
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filters select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0 10px; 
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.character-card {
    background-color: rgb(255, 255, 255); 
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease; 
    overflow: hidden; 
}

.character-card:hover {
    transform: scale(1.05); 
}

.character-details {
    display: none; 
}

.character-card:hover .character-details {
    display: block; 
}

.favorite {
    position: absolute;
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    cursor: pointer; 
    font-size: 24px;
    color: gray; 
}

.favorited {
    color: gold; 
}
